#pong {
  width: 800px;
  height: 468px;
  background-color: black;
  cursor: pointer;
  border: 1px solid #f6eb16;
  padding: 10px;
  margin: 0 auto;
}

#pong canvas {
  border-top: 4px solid #2AAAE2;
  border-bottom: 4px solid #2AAAE2;
}